<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0"> 
	<title>Drum Pages Admin</title> 
	<link rel="stylesheet"  href="~/css/admin.css">
</head> 

<body> 
	
    <div class="header"><span class="header-text">DRUM PAGES<span class="headerPage"><br>Admin Panel</span></span></div>

	<div class="main-container row"> 
		<div class="navcontainer col-2"> 
			<nav class="nav"> 
				<div class="nav-upper-options"> 
					<div class="nav-option option1"> 
						<img src="~/images/dashboard.png"
							class="nav-img"
							alt="dashboard"> 
						<h3> Dashboard</h3> 
					</div> 

					<div class="option2 nav-option"> 
						<img src="~/images/posts.png"
							class="nav-img"
							alt="posts"> 
						<h3> Posts</h3> 
					</div> 

					<div class="nav-option option3"> 
						<img src="~/images/report.png"
							class="nav-img"
							alt="report"> 
						<h3> Report</h3> 
					</div> 
					<div class="nav-option option5"> 
						<img src="~/images/profile.png"
							 class="nav-img"
							alt="blog"> 
						<h3> Profile</h3> 
					</div> 

					<div class="nav-option option6"> 
						<img src="~/images/settings.png"
							 class="nav-img"
							alt="settings"> 
						<h3> Settings</h3> 
					</div> 

					<div class="nav-option logout"> 
						<img src="~/images/logout.png"
							class="nav-img"
							alt="logout"> 
						<h3>Logout</h3> 
					</div> 

				</div> 
			</nav> 
		</div> 
		<div class="col-2"></div>
		<div class="col-8"> 

			<div class="row"> 
				<div class="row"> 

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">60.5k</span> 
							<span class="topic">Post Views</span> 
						</div> 

						<img src="~/images/eye.png"
							alt="Views"> 
					</div> 

					<div class="col-2"></div>

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">150</span> 
							<span class="topic">Likes</span> 
						</div> 

						<img src="~/images/like.png"
							alt="likes"> 
					</div> 
				</div><div class="row boxRow"> 

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">320</span> 
							<span class="topic">Comments</span> 
						</div> 

						<img src="~/images/chat.png"
							alt="comments"> 
					</div> 
					
					<div class="col-2"></div>

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">70</span> 
							<span class="topic">Published</span> 
						</div> 

						<img src="~/images/Ok.png" alt="published">
					</div> 
					
					<div class="col-1"></div>
				</div>

			</div> 

			<div class="report-container row"> 
				<div class="col-12">
					<div class="report-header"> 
						<h1 class="recent-Posts">Recent Posts</h1> 
						<button class="view">View All</button> 
					</div> 

					<div class="report-body"> 
						<div class="report-topic-heading row"> 
							<h3 class="t-op col-3">Post</h3> 
							<h3 class="t-op col-3">Views</h3> 
							<h3 class="t-op col-3">Comments</h3> 
							<h3 class="t-op col-3">Status</h3> 
						</div> 

						<div class="items"> 
							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3 col-3">Post 9</h3> 
								<h3 class="t-op-nextlvl col-3">2.9k</h3> 
								<h3 class="t-op-nextlvl col-3">210</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 8</h3> 
								<h3 class="t-op-nextlvl col-3">1.5k</h3> 
								<h3 class="t-op-nextlvl col-3">360</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 7</h3> 
								<h3 class="t-op-nextlvl col-3">1.1k</h3> 
								<h3 class="t-op-nextlvl col-3">150</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 6</h3> 
								<h3 class="t-op-nextlvl col-3">1.2k</h3> 
								<h3 class="t-op-nextlvl col-3">420</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 5</h3> 
								<h3 class="t-op-nextlvl col-3">2.6k</h3> 
								<h3 class="t-op-nextlvl col-3">190</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 4</h3> 
								<h3 class="t-op-nextlvl col-3">1.9k</h3> 
								<h3 class="t-op-nextlvl col-3">390</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 3</h3> 
								<h3 class="t-op-nextlvl col-3">1.2k</h3> 
								<h3 class="t-op-nextlvl col-3">580</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 2</h3> 
								<h3 class="t-op-nextlvl col-3">3.6k</h3> 
								<h3 class="t-op-nextlvl col-3">160</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

							<div class="item1 row"> 
								<h3 class="t-op-nextlvl col-3">Post 1</h3> 
								<h3 class="t-op-nextlvl col-3">1.3k</h3> 
								<h3 class="t-op-nextlvl col-3">220</h3> 
								<h3 class="t-op-nextlvl col-3 label-tag">Published</h3> 
							</div> 

						</div> 
					</div> 
				</div>
			</div> 
		</div> 
		<div class="col-2"></div>
	</div> 

	<script src="~/js/JavaAdmin.js"></script>
</body> 
</html>
