<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main_style.css">
</head>
<body>
    <div class="header"><span class="header-text">DRUM PAGES</span></div>
    <div class="col-2"></div>
    <div class="row content welcome_content">
        <div class="col-8">
            @foreach (var item in Post.GetPostsByThreadId(3))
            {
                <div class="selection_box">
                    <!-- Tutaj będą wyświetlane wydarzenia z kontrolera -->
                    <label for="Event_name"><b>@item.getCreationDate()</b></label>
                    <br>
                    <label for="Event_date"><b>@item.getContent()</b></label>
                    <br>
                    <label for="Event_date"><b>@item.getUserID()</b></label>
                    <br>
                </div>
            }
        </div>
    </div>
</body>
</html>
