<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main_style.css">
</head>
<body>
    <div class="col-2"></div>
    <div class="row content welcome_content">
        <div class="col-8">
            @foreach (var item in Thread.getAllThreads())
            {
                <div class="selection_box">
                    <!-- Tutaj będą wyświetlane wydarzenia z kontrolera -->
                    <label for="Event_name"><b>@item.getTheme()</b></label>
                    <br>
                    <label for="Event_date"><b>@item.getDate()</b></label>
                    <br>
                    <label for="Event_description"><b>@item.getUserID()</b></label>
                    <br>
                    <a href="@Url.Action("ViewThread", "Home", new { threadId = item.getID() })">
                        <button>View Entries</button>
                    </a>
                </div>
            }
        </div>
    </div>
</body>
</html>

