<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main_style.css">
</head>
<body>
   @if (!string.IsNullOrEmpty(ViewBag.IsLoggedIn))
    {
        <div class="header">
            <span class="header-text">DRUM PAGES<span class="headerPage"><br>Welcome back! @ViewBag.UserName</span></span>
            </div>  
    }
    else
    {
        <div class="header"><span class="header-text">DRUM PAGES<span class="headerPage"><br>Welcome!</span></span></div>
    }

    <div class="row content welcome_content">


        <div class="col-2"></div>
        <div class="col-8">
            <p class="highlight">
                <b>
                    During almost every concert, a drummer is a necessity for almost all bands, because the music notes wouldn't be the same without his help.
                    Despite that, many future musicians focus on other instruments and overlook the magnificent opportunity of career growth given by the drums.
                </b>
                <br>
            </p>
            <p3>
                <br>
                <br>
                Drum pages is the first of its kind website dedicated to all people passionate with music, who have a particular interest in drums. It has been made as a project in order
                to gather together all drum lovers and help them expand their opportunities. In here you will be able to share your passion with others and learn new ideas related to this topic.
                <br>
                <br>
                <br>
                Thanks to our collaboration with professional drummers from the entire world you too can learn how to play like a pro with our lessons available to everyone for free.
                <br>
            </p3>
            
            <!-- Button to open the modal login form -->
            <br><br>

            @if (!string.IsNullOrEmpty(ViewBag.IsLoggedIn))
            {
                //JEST ZALOGOWANY
                Console.WriteLine("UKRYJ REJESTRACJE");
                Console.WriteLine("POKAZ WYLOGUJ");
                @using (Html.BeginForm("LogOut", "Home", FormMethod.Post))
                {               
                        <button id="logoutBtn" onclick="hideLoginRegisterButtons()">Log Out</button>
                }             
            }
            else
            {
                //NIE JEST ZALOGOWANY
                Console.WriteLine("POKAZ REJESTRACJE");
                Console.WriteLine("UKRYJ WYLOGUJ");
                <button id="loginBtn" onclick="document.getElementById('id_1').style.display='block'">LOG IN</button><br><br>
                <button id="registerBtn" onclick="document.getElementById('id_2').style.display='block'">REGISTER</button>
            }
        </div>
        <div class="col-2"></div>
    </div>

    <!-- The Modal for Login -->
    <div id="id_1" class="modal">
        <span onclick="document.getElementById('id_1').style.display='none'"
              class="close" title="Close Form">&times;</span>

        <!-- Modal Content -->
        <form class="login_form modal-content animate">
            <div class="col-2"></div>

            <div class="container col-8">
                <div class="row centered_container">
                    <div class="col-6 form_fields">
                        <label for="uname"><b>Username</b></label><br><br>
                        <input type="text" placeholder="Enter Username" name="uname" id="uname" required><br><br>
                        <label>
                            <input type="checkbox" name="remember" id="remeber"> Remember me
                        </label>
                        <br><br>
                        <button type="button" class="LoginInto" id="finalloginbtn">Login</button>
                    </div>
                    <div class="col-6 form_fields">
                        <label for="psw"><b>Password</b></label><br><br>
                        <input type="password" placeholder="Enter Password" name="psw" id="psw" required><br><br>
                        <div id="addLogin">Forgot password?<br>Enter Login</div>
                        <span id="forgotPasswordLink">Reset <a href="#">password</a></span><br><br>
                        <button type="button" onclick="document.getElementById('id_1').style.display='none'" class="Login_cancel">Cancel</button>
                    </div>                   
                </div>
            </div>
            <script>
                var unameInput = document.getElementById('uname');
                var password = document.getElementById('psw');
                var remepber = document.getElementById('remeber');
                var passwordLink = document.getElementById('forgotPasswordLink');
                var label = document.getElementById('addLogin');
                var finallog = document.getElementById('finalloginbtn');
                var firstRegBtn = document.getElementById('registerBtn');

                passwordLink.disabled = true;
                unameInput.addEventListener('input', function () {       
                    if (unameInput.value.trim() === '') {
                        label.style.display = "block";
                        passwordLink.style.display = "none";
                        console.log('JEST PUSTE');
                    }
                    else {
                        label.style.display = "none";
                        passwordLink.style.display = "block";
                    }
                });

                passwordLink.addEventListener('click', function () {
                    var username = document.getElementById('uname').value;
                    
                    fetch('/Home/ForgotPassword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: 'user=' + encodeURIComponent(username)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.mess){
                                alert(data.mess);
                            }            
                        })
                        .catch(error => console.error('Error:', error));
                });

                finallog.addEventListener('click', function () {

                    var formData = new FormData();
                    formData.append('uname', unameInput.value);
                    formData.append('psw', password.value);
                    formData.append('remember', remepber.value);
                    console.log(unameInput.value);

                    var unameValue = encodeURIComponent(unameInput.value);
                    var pswValue = encodeURIComponent(password.value);
                    var rememberValue = encodeURIComponent(remepber.value);
                    var body = 'uname=' + unameValue + '&psw=' + pswValue + '&remember=' + rememberValue;

                    fetch('/Home/Login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: body
                    })
                        .then(response => response.json())
                        .then(data => {
                           // UKRYWANIE PRZYCISKOW
                            if (data.mess) {
                               alert(data.mess);
                                if (data.mess === 'Welcome boss') { 
                                    window.location.href = '/Home/AdminPanel';
                                    registerBtn.style.display = 'none';
                                }
                                else if (data.mess === 'Login correctly') {
                                    window.location.href = '/Home/Index';
                                    registerBtn.style.display = 'none';
                                }
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>

            <div class="col-2"></div>
        </form>
    </div>

    <!-- The Modal for Registration -->
    <div id="id_2" class="modal">
        <span onclick="document.getElementById('id_2').style.display='none'"
              class="close" title="Close Form">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate register_form row" method="post" action="/Home/Register">
            <div class="col-2"></div>

            <div class="container col-8">
                <div class="row centered_container">
                    <div class="col-6 form_fields">
                        <label for="name"><b>Imie</b></label><br>
                        <input type="text" placeholder="Podaj imię" name="name" id="name" autocomplete="on" required><br><br>
                        <label for="surname"><b>Nazwisko</b></label><br>
                        <input type="text" placeholder="Podaj nazwisko" name="surname" id="surname" required><br><br>
                        <label for="email"><b>Email</b></label><br>
                        <input type="email" placeholder="Adres email" name="email" id="email" autocomplete="on" required><br><br>
                        <label for="regname"><b>Wiek</b></label><br>
                        <input type="number" placeholder="Podaj swój wiek" name="age" id="age" min="1" max="100" required><br><br>

                        <label for="regname"><b>Rodzaj użytkownika</b></label><br>
                        <select name="accountType" id="accountType" multiple>
                            <option value="Amator">Zwykły użytkownik</option>
                            <option value="NPro">Pro</option>
                        </select>
                        <br />
                        <label for="regname"><b>Poziom umiejętności <br />(1 - początkujący, 5 - zaawansowany)</b></label><br>
                        <select name="skill" id="skill" multiple>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <br />

                        <label for="regname"><b>Login</b></label><br>
                        <input type="text" placeholder="Podaj login" name="regname" id="regname" required><br><br>
                        <label for="regpass"><b>Hasło</b></label><br>
                        <input type="password" placeholder="Podaj hasło" name="regpass" id="regpass" required><br><br><br>
                        <button type="submit" class="cancelbtn formBtn">Register</button>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </form>
        
    </div>
</body>
</html>
