<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Lato', sans-serif;
            font-size: 23px;
        }

        .user-profile {
            border-radius: 35px;
            margin-left: 35vw;
            margin-right: 35vw;
            margin-top: 10vh;
            background-color: #ff9b05;
            color: white;
        }


        p1, p2 {
            display: inline;
        }

    </style>
</head>
<body>
    <div class="user-profile">
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        <br>
                        <div>
                            <h3>Test User</h3>
                        </div>
                        <div>
                            <p><strong>User ID:</strong>321000001</p>
                        </div>
                        <div>
                            <h3><i></i>General Information</h3>
                        </div>
                        <div>
                            <strong>
                                <p1>Name:</p1>
                                <p2 contenteditable="true">
                                    Gregory
                                </p2>
                                <br>
                                <br>
                                <p1>Surname:</p1>
                                <p2 contenteditable="true">
                                    Brzêczyszczykiewicz
                                </p2>
                                <br>
                                <br>
                                <p1>Age:</p1>
                                <p2 contenteditable="true">
                                    24
                                </p2>
                                <br>
                                <br>
                                <p1> Advancement level:</p1>
                                <p2 contenteditable="true">
                                    3
                                </p2>
                                <br>
                                <br>
                                <p1>E-mail address:</p1>
                                <p2 contenteditable="true">
                                    gregory.brzêczyszczykiewicz@gmail.com
                                </p2>
                            </strong>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <div>
                            <h3>Other Information</h3>
                        </div>
                        <div>
                            <strong>
                                <p>SS Officers hate my guts.</p>
                            </strong>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>